<div class="my-width" [ngClass]="isSelected()">
  <div class="my-field edit"  *ngIf="editing">
    <mat-form-field class="my-full-width" >
      <mat-label>Type de tache</mat-label>
      <input matInput [placeholder]="'Ex. Etude et conception'" [(ngModel)] = "name"  style="width: 95%;display: block;float: start">
    </mat-form-field>
    <mat-form-field class="my-full-width">
      <mat-label>Prefix</mat-label>
      <input matInput [placeholder]="'Ex. E-C '" [(ngModel)] = "prefix"  style="width: 95%;display: block;float: start">
    </mat-form-field>
    <app-icone-field (iconSelected) = "selectIcon($event)"></app-icone-field>
  </div>
  <div class="my-field"  >
    <i class="mat-icon float-end fa fa-edit" (click)="edit()" *ngIf="!editing"> </i>
    <span class="float-md-end pointer-event" (click)="save()" *ngIf="editing"> Save
        <i class="mat-icon  fa fa-save"  > </i>
      </span>
    <span (click)="select()"
          style="width: 95%;display: block;float:end" *ngIf="!editing"> <app-icone-view  [icon]="inputIssueType.icone" [width]="'fa-lg'"></app-icone-view> {{ inputIssueType == null ? 'Nouveau type de tache' : inputIssueType.name }}</span>
  </div>

</div>

