<mat-dialog-content>
  <mat-toolbar>
    <div class="mat-toolbar-tools template-background">
      <h2> Flux de travail : {{ workFlow.name }} </h2>
    </div>
    <button (click)="onCancelClick()" class="float-end btn-close"></button>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label=" Etats ">
      <mat-card class="mat-padding">
        <div class="sidebar-heding row">
          <div *ngIf="workFlow ">
            <div *ngIf="workFlow.statuses!=undefined ">
              <h1> Liste des etat possible </h1>
              <div *ngFor="let state of workFlow.statuses">
                <app-states-form [inputState]="state"
                                 [editing]="false" [exemple]="'Flux de traveau '"
                                 class="field-item"
                                 (onComplete)="addStatus($event)"
                >
                </app-states-form>
              </div>
            </div>
            <app-states-form [inputState]="null"
                             [editing]="true" [exemple]="' Todo'"
                             class="field-item"
                             (onComplete)="addStatus($event)"
                             *ngIf="isCreateState"
            >
            </app-states-form>
            <div (click)="createState()" *ngIf="!isCreateState"> Ajouter une etats</div>
            <app-icone-view *ngIf="iconSelected" [icon]="iconSelected" [width]="'fa-2x'"></app-icone-view>
          </div>

        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Type tache">
      <mat-card class="mat-padding">
        <div class="sidebar-heding ">
          <div class="item items-right">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action pointer-event"> Affiche si vide</li>
              <li class="list-group-item list-group-item-action pointer-event"> Afficher lors de la liste</li>
            </ul>
            <div class="list-container">
              <ul>
                <li *ngFor="let issueType of project.issueTypes">
                  <span>{{ issueType.name }}</span>
                  <input type="checkbox" [checked]="isUsing(issueType)" class="checkbox-right">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Valeur par defaut">
      <mat-card class="mat-padding">
        <div class="sidebar-hedingd   ">

        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="padding: 10px">
    <span fxFlex></span>
    <button mat-raised-button class="btn success" color="primary" (click)="onSaveClick()"><span> Terminer </span>
    </button>
  </div>
</mat-dialog-actions>
