<div class="issue-list">
  <h2>Liste des États</h2>
  <div class="card-list">
    <div class="card">
      <div class="card-content">
        <h3>Projets</h3>
        <p></p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3>Mes taches</h3>
        <p>Tous mes tache</p>
      </div>
    </div>
    <div class="card" (click)="aplayFilter()">

      <div class="card-content">
        <h3 class="edit" (click)=" editFilter()">Filtre <i class="fas fa-edit"></i></h3>
        <p>Ajous des filtre  </p>

      </div>
    </div>

  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Summary</th>
        <td mat-cell *matCellDef="let element">{{element.summary}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>

      <ng-container matColumnDef="issueKey">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Key</th>
        <td mat-cell *matCellDef="let element">{{element.issueKey}}</td>
      </ng-container>

      <ng-container matColumnDef="issueType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Type</th>
        <td mat-cell *matCellDef="let element"><app-icone-view [icon]="element.issueType.icone" ></app-icone-view> {{element.issueType.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"><app-icone-view [icon]="element.status.icone" ></app-icone-view> {{element.status.displayName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>




