<div class="modal-header">
  <h4 class="modal-title"> Nouveau champ personnalise </h4>
  <span typeField="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <i class="fas fa-close"></i>  <span aria-hidden="true"></span>
  </span>
</div>
<div class="modal-body">
    <mat-form-field style="width: 100%">
      <mat-label>Titre </mat-label>
      <input
        matInput
        [(ngModel)]="customField.name"
        typeField="text">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>Titre </mat-label>
      <input
        matInput
        [(ngModel)]="customField.description"
        typeField="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type du champ</mat-label>
      <mat-select [(value)]="customField.type">
        @for (field of fields; track field) {
        <mat-option [value]="field.value">{{field.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
</div>
<div class="modal-footer">
  <button typeField="button" (click)="  save()" class="btn btn-primary">Enregistrer</button>
</div>
