<div class="board">
  <div class="column" *ngFor='let status of filerWorkFlow()' (dragover)="onDragOver($event)" (drop)= "onDrop($event, status)" >
    <div class="entete">{{ status.displayName }} </div>
    <div class="issie-board" *ngFor="let issue of filterByStatus(status)" draggable="true" (dragstart)="onDragStart($event,issue)"  >
      <div class="card">
        <div class="content details">
          <h3>{{issue.summary}}</h3>
          <p>{{issue.description}}</p>
        </div>
        <img [src] = "issue.assigne.photo" src="/assets/user.png" alt="Image" class="image"  mat-icon-button [matMenuTriggerFor]="menu2" (click)="assigne(issue)" >
      </div>
    </div>
    <div  class="issie-board new " (click)="newIssue( status)" *ngIf = "canCreate(status)">
      <div class="card">
        <div class="content details">
          <p><i class="fas fa-plus"></i> Creer un nouveau demande </p>
        </div>
      </div>
    </div>
  </div>
  <mat-menu #menu2="matMenu">
    <h4> Assigner a </h4>
    <button mat-menu-item *ngFor="let user of users" (click)="assigneToUser(user)" [ngClass]="{'active': isActive(user)}" >
      <img [src]="user.photo" alt="Image"  width="30px"  >
      <span>{{user.firstname}} {{user.lastname}}</span>
    </button>
  </mat-menu>
</div>
