<div class="board">
  <div class="column">
    <div class="entete">En attent </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div  class="issie-board new ">
      <div class="card">
        <div class="content">
          <p><i class="fas fa-plus"></i> Creer un nouveau demande </p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="entete">En attent </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="entete">En attent </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="entete">En attent </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="entete">En attent </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
    <div class="issie-board">
      <div class="card">
        <div class="content">
          <h3>Titre de la carte</h3>
          <p>Contenu variable de la carte...</p>
        </div>
        <img src="/assets/user.png" alt="Image" class="image">
      </div>
    </div>
  </div>
</div>
