<form action="" class="sign-up-form" (ngSubmit)="creer()">
  <h2 class="title" > Nom du projet </h2>
  <div class="input-field">
    <i class="fas fa-user"></i>
    <input type="text"  placeholder="Project Name " [(ngModel)]="project.username" [ngModelOptions]="{standalone: true}" required/>
  </div>
  <h2 class="title" > Nom du projet </h2>
  <div class="input-field">
    <i class="fa fa-address-book"></i>
    <input type="text" placeholder="Ex : PROD" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" required/>
  </div>
</form>
