.custom-field{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  max-height: 80%;
  min-height: 500%;
}
.item {
  padding: 20px;
  border: 1px solid #ccc;
  max-height: 90vh;
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.left-item{

  border: none;
  display: grid;
  grid-template-columns: 3fr 2fr;

}
.item-right {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.items-right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

}
.issuetype-liste{
  max-height: 60vh;
  overflow: scroll;
}
