
<div class="projet">
  <div class="menu">
    <h3>Admin </h3>
    <ul>
      <li class="menu-item controle " routerLinkActive="active" routerLink ="users">
        <i class="fas fa-tasks"></i> Gestion des utilisateurs
      </li>
      <li class="menu-item controle" routerLinkActive="active" routerLink ="groups">
        <i class="fas fa-calendar"></i> Gestion des groupe
      </li>
      <li class="menu-item controle" routerLinkActive="active" routerLink ="parameters">
        <i class="fas fa-chart-line"></i> Parametres
      </li>
    </ul>
  </div>

  <div class="project-content" >
    <router-outlet></router-outlet>
  </div>
</div>

