<div class="modal-header">
  <h4 class="modal-title">Ajouter tache </h4>
  <span typeField="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <i class="fas fa-close"></i>  <span aria-hidden="true"></span>
  </span>
</div>
<div class="modal-body">
  <form #f="ngForm">
    <div class="form-group">
      <label for="summary">Titre</label>
      <input [(ngModel)]="summary" [ngModelOptions]="{standalone: true}" class="form-control" id="summary" name="summary"
             typeField="text">

      <label for="description">Description</label>
      <textarea class="form-control" id="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="form-group">
      <label for="typeField">Type</label>
      <select class="form-control" id="typeField" [(ngModel)]="issue.typeField" [ngModelOptions]="{standalone: true}">
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
        <option value="type3">Type 3</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button typeField="button" class="btn btn-primary" (click)="save()">Enregistrer</button>
</div>
