<div class="modal-header">
  <b class="modal-title">{{issue.summary}}  </b>
  <span typeField="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <i class="fas fa-close"></i>  <span aria-hidden="true"></span>
  </span>
</div>
<div class="modal-body content-issue">
  <div class="desc">
    <div class="item left-item">
      <div class="col-form-label">
        description
      </div>
      <div class="container" >
        <p class="w-100" (click)="editDescription()" *ngIf="!editingDescription">{{ issue.description }}</p>
        <p>
          <textarea class="w-100 border-0" *ngIf="editingDescription" [(ngModel)]="issue.description"></textarea>
        </p>
        <p>
          <span *ngIf="editingDescription" (click)="editDescription()" class="bouton">Save</span>
          <span *ngIf="editingDescription" (click)="editDescription()">Annuler</span>
        </p>
      </div>
      <div class="mini-menu">
        <span id="comment" class="menu-btn active" (click)="toggleMenu('comment')"
              [class.active]="activeMenuItem === 'comment'">Comment</span>
        <span id="history" class="menu-btn" (click)="toggleMenu('history')"
              [class.active]="activeMenuItem === 'history'">History</span>
      </div>
      <div class="wi100" *ngIf="activeMenuItem=='comment'">
        <div class="comment-form">
          <textarea [(ngModel)]="comment.text" placeholder="Ajouter un commentaire"></textarea>

          <button (click)="addComment()">Ajouter</button>

        </div>

        <div class="comment-list">
          <div class="comment-item" *ngFor="let comment of comments">
            <img [src]="comment.user.photo" class="user-avatar" alt="Avatar" [title]="comment.user.firstName+' '+comment.user.lastName">
            <div class="comment-content">
              <p class="comment-text">{{comment.text}} </p>
              <p class="comment-user">{{comment.user.firstName}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="wi100" *ngIf="activeMenuItem=='history'">
        <div class="comment-item w-100">
          History item
        </div>
      </div>



    </div>
    <div class="item-right">
      <div> Details</div>
      <div class="details-content" >
        <div class="header">
          <h1 class="folder-title" *ngIf="issue.reporter"><i class="fa fa-universal-access" aria-hidden="true"></i>   Creer par : <i> {{issue.reporter.firstName+' '+issue.reporter.lastName}}</i></h1>
          <h1 class="folder-title"><i class="fa fa-hashtag" aria-hidden="true"></i> <span *ngIf="issue.assigne ; else unassigned"> Assigné  a :  <img  [src]="userService.getUrlPhoto(issue.assigne)" class="photo avatar__img--circle" alt="l'assigné a"  /> {{issue.assigne.firstName+' '+issue.assigne.lastName}}</span>  <ng-template #unassigned> Non assigné  </ng-template></h1>
          <h1 class="folder-title"> <i class="fa fa-folder" aria-hidden="true"></i> Dossier : {{repertoire.fileName}}
            <a [href]="downloadUrl()"    *ngIf ="selected> 0" class="btn btn-group download" style="float: right"> <i class="fa fa-download" aria-hidden="true"></i>- Download({{selected}}) </a>
            <span class="btn btn-group " style="float: right">
                 <label class="btn btn-default p-0" for="selectFile" *ngIf = "uploading.length === 0"> <i class="fa fa-plus-square" aria-hidden="true"> </i>Ajouter  </label>
                  <input style="display: none" id = "selectFile" type="file" multiple (change)="selectFile($event)"/>
            </span>
            <span *ngIf = "uploading.length > 0" style="float: right;cursor: pointer" (click)="upload()"> <i class="fa fa-upload"> </i> Upload ({{uploading.length}})</span>
          </h1>
          <div class="tnz-file-tree">
            <div>
              <ul *ngIf="filesToUpload">
                <div *ngFor="let up of uploading; let i = index" class="file" [ngClass]="up.status">
                  <label class="file"> <i class="fa fa-file-text"> </i>
                    {{ up.file.name}}
                  </label>
                  <span (click)="removeFile(i)" style="float: right;"> {{ up.status }} <i class="fa fa-remove"></i></span>
                </div>
              </ul>
            </div>
            <div *ngFor="let r of repertoire.repertoires">
              <app-tree-node-item [repertoire]="r" (fileSelected)="onFileSelected($event)"></app-tree-node-item>
            </div>
          </div>
          <h1 class="folder-title"> <i class="fa fa-check-square" aria-hidden="true"> </i> Parametre </h1>
          <div class="tnz-file-tree">
            <div class="" ng *ngFor="let cvalue  of customFieldValues" style="margin: 10px">
              <app-custom-field
                [customFieldValue]="cvalue" (save)="saveCustomFieldValue($event)"
              > </app-custom-field>
            </div>

            <div class="btn-group" ng *ngIf = "currentCustomFieldValue == null">
              <span class="btn-lg  me-2" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                  <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
              </span>
              <ul class="dropdown-menu" >
                <li (click)="addCustomFieldValue(usingCustomField)" *ngFor = "let usingCustomField of usingCustomFields"><a class="dropdown-item" > {{usingCustomField.customField.name}}</a></li>
              </ul>
            </div>
            <div class="" ng *ngIf="currentCustomFieldValue  != null" style="margin: 10px">
              <app-custom-field
                [customFieldValue]="currentCustomFieldValue" (save)="saveCustomFieldValue($event)"
              > </app-custom-field>
              </div>
            </div>
          </div>
          <h1> <i class="fa fa-calendar-minus" aria-hidden="true"></i> Temp passé : 20 heurs </h1>

          <label class=""  >
            <input class="tnz-file-tree-cb" typeField="checkbox">
            <span class=" "> <i class="fa fa-plus" aria-hidden="true"></i>  Ajouter </span>
          </label>
        </div>

      </div>

    </div>

</div>

