<div class="modal-header">
  <b class="modal-title">{{issue.summary}}  </b>
  <span typeField="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <i class="fas fa-close"></i>  <span aria-hidden="true"></span>
  </span>
</div>
<div class="modal-body content-issue">
  <div class="desc">
    <div class="item left-item">
      <div class="col-form-label">
        description
      </div>
      <div class="container" >
        <p class="w-100" (click)="editDescription()" *ngIf="!editingDescription">{{ issue.description }}</p>
        <p>
          <textarea class="w-100 border-0" *ngIf="editingDescription" [(ngModel)]="issue.description"></textarea>
        </p>
        <p>
          <span *ngIf="editingDescription" (click)="editDescription()" class="bouton">Save</span>
          <span *ngIf="editingDescription" (click)="editDescription()">Annuler</span>
        </p>
      </div>
      <div class="mini-menu">
        <span id="comment" class="menu-btn active" (click)="toggleMenu('comment')"
              [class.active]="activeMenuItem === 'comment'">Comment</span>
        <span id="history" class="menu-btn" (click)="toggleMenu('history')"
              [class.active]="activeMenuItem === 'history'">History</span>
      </div>
      <div class="wi100" *ngIf="activeMenuItem=='comment'">
        <div class="comment-form">
          <textarea [(ngModel)]="comment.text" placeholder="Ajouter un commentaire"></textarea>
          <button (click)="addComment()">Ajouter</button>
        </div>

        <div class="comment-list">
          <div class="comment-item" *ngFor="let comment of comments">
            <img [src]="comment.user.photo" class="user-avatar" alt="Avatar" [title]="comment.user.firstName+' '+comment.user.lastName">
            <div class="comment-content">
              <p class="comment-text">{{comment.text}} </p>
              <p class="comment-user">{{comment.user.firstName}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="wi100" *ngIf="activeMenuItem=='history'">
        <div class="comment-item w-100">
          History item
        </div>
      </div>
    </div>
    <div class="item-right">
      <div> Details</div>
      <div class="details-content" >
        <div class="header">
          <h1 class="folder-title"><i class="fa fa-universal-access" aria-hidden="true"></i> Creer par : <i>Tokiniaina Andriamahefasoa </i></h1>
          <h1 class="folder-title"><i class="fa fa-hashtag" aria-hidden="true"></i> Assigné  a : <i>Tokiniaina Andriamahefasoa </i></h1>
          <h1 class="folder-title"> <i class="fa fa-folder" aria-hidden="true"></i> Dossier : Nom du dossier</h1>
          <div class="tnz-file-tree">
            <div *ngFor="let node of nodes">
              <app-tree-node-item [node]="node"></app-tree-node-item>
            </div>
          </div>
          <h1 class="folder-title"> <i class="fa fa-check-square" aria-hidden="true"> </i> Parametre </h1>
          <div class="tnz-file-tree">
            <label class=""   *ngFor = "let value of customFieldValues">
              <span class=" " *ngIf = "value.customField.type === 'Date'"> {{value.customField.name}} : {{value.date.toString() </span>
              <span class=" " *ngIf = "value.customField.type === 'String'"> {{value.customField.name}} {{value.string}} </span>
              <span class=" " *ngIf = "value.customField.type === 'User'">{{value.customField.name}}  {{value.user.lastName}} </span>

            </label>
            <div class="btn-group" ng *ngIf = "currentCustomFieldValue == null">
              <span class="btn-lg  me-2" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                  <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
              </span>
              <ul class="dropdown-menu" >
                <li (click)="addCustomFieldValue(customField)" *ngFor = "let customField of customFields"><a class="dropdown-item" > {{customField.name}}</a></li>
              </ul>
            </div>
            <div class="" ng *ngIf="currentCustomFieldValue  != null" style="margin: 10px">
              <div>
                <div class="form-group" *ngIf = "currentCustomFieldValue.customField.type == 'String'">
                  <label for="string-form">{{currentCustomFieldValue.customField.name}}</label>
                  <input type="text" class="form-control" id="string-form" [(ngModel)]="currentCustomFieldValue.string"  [placeholder]="currentCustomFieldValue.customField.name">
                </div>
                <div class="form-group" *ngIf="currentCustomFieldValue.customField.type =='User'">
                  <label [for]="'user-'+currentCustomFieldValue.customField.name" >{{currentCustomFieldValue.customField.name}}</label>
                  <select class="form-control" [id]="'user-'+currentCustomFieldValue.customField.name" [(ngModel)]="currentCustomFieldValue.user">
                    <option > Choie de {{currentCustomFieldValue.customField.name}}</option>
                    <option *ngFor="let user of users" [value]="user" >
                      <img [src]="user.photo" alt="Image"  width="30px"> <br>
                      <span>{{user.firstName}} {{user.lastName}}</span>
                    </option>
                  </select>
                  <!--<mat-form-field appearance="outline">
                    <mat-label>{{currentCustomFieldValue.customField.name}}</mat-label>
                    <mat-select >
                      <mat-option *ngFor="let u of users" [value]="u">{{'u.lastName'}}</mat-option>
                    </mat-select>
                  </mat-form-field>-->
                </div>
                <div class="form-group" *ngIf = "currentCustomFieldValue.customField.type == 'text'">
                  <label for="exampleFormControlTextarea1">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]="currentCustomFieldValue.numeric" rows="3" [placeholder]="currentCustomFieldValue.customField.name"></textarea>
                </div>
                <div class="form-group" *ngIf = "currentCustomFieldValue.customField.type == 'Number'">
                  <label for="numeric-value">{{currentCustomFieldValue.customField.name}}</label>
                  <input class="form-control" id="numeric-value" type="number"  [(ngModel)]="currentCustomFieldValue.numeric" [placeholder]  ="currentCustomFieldValue.customField.name">
                </div>
                <div class="form-group" *ngIf = "currentCustomFieldValue.customField.type == 'Date'">
                  <label for="numeric-value">{{currentCustomFieldValue.customField.name}}</label>
                  <input class="form-control" id="numeric-value" type="date"  [(ngModel)]="currentCustomFieldValue.date" [placeholder]  ="currentCustomFieldValue.customField.name">
                </div>
                <button (click)="saveValue()"> Save</button>
              </div>
            </div>
          </div>
          <h1> <i class="fa fa-calendar-minus" aria-hidden="true"></i> Temp passé : 20 heurs </h1>

          <label class=""  >
            <input class="tnz-file-tree-cb" typeField="checkbox">
            <span class=" "> <i class="fa fa-plus" aria-hidden="true"></i>  Ajouter </span>
          </label>
        </div>

      </div>

    </div>
  </div>


</div>

