.desc {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 10px;
  max-height: 80%;
  min-height: 500%;
}

.item {
  padding: 20px;
  border: 1px solid #ccc;
  max-height: 90vh;
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left-item{
  max-height: 80vh;
  overflow: scroll;
  border: none;
}
.item-right {
  display: flex;
  flex-direction: column;
}
.item1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.item2 {
}
.xlModal > .modal-dialog {
  max-width: 1490px !important;
  min-width: 971px !important;
}
.content-issue{
  height: 100%;
}
.comment-form {
  margin-bottom: 20px;
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.comment-form button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.comment-list {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.comment-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
h1{
  font-size: 15px;
  font-weight: bold;
  line-height: 2em;
}
.comment-content {
  flex-grow: 1;
}

.comment-text {
  margin-bottom: 5px;
}

.comment-user {
  font-style: italic;
}
.details-content{
  border: solid #333333 0.1px;
  height: 77vh;
  padding: 10px;
  overflow: scroll;
}


.tnz-file-tree {
}

/**/
.download-icon {
  text-decoration: none;
  color: blue;
  margin-left: auto;
}

.footer {
  text-align: center;
}

.upload-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
