<div class="grid-container">
  <div class="top-menu">
    <div class="logo">Logo</div>
    <ul class="navigation">
      <li><a routerLink="" ariaCurrentWhenActive="page">Home</a></li>
      <li>
        <div class="user-dropdown">
          <span class="username">Projet</span>
          <div class="user-dropdown-content">
            <div class="item controle"  *ngFor="let project of projects" (click)="selectProject(project)">{{project.name}}</div>
            <div class="item controle"  routerLink="admin/project/create"> Creer </div>
          </div>
        </div>
      </li>
      <li><a routerLink="admin/users" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a></li>
    </ul>
    <div class="user-section">
      <div class="user-dropdown">
        <img [src]="profile.photo" alt="P">
        <span class="username">{{profile.firstName}} {{profile.lastName}}</span>
        <div class="user-dropdown-content">
          <div class="item controle" (click)="myProfile()" >Profile</div>
          <div class="item controle" href="#">Settings</div>
          <div class="item controle" (click)="logout()" >Logout</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <!-- Footer links -->
    <div class="footer-links">
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
    </div>
    <!-- Social icons -->
    <div class="social-icons">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-linkedin"></a>
    </div>
  </div>
</div>



