
.icon-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  overflow-y: scroll;
}
.icon-item {
  padding: 20px;
  text-align: center;
  margin: 3px;
  color: #333333;
  cursor: pointer;
}
.icon-item:hover{
  color: #ffffff;
  background-color: #aaaaaa;
}
