<div class="">
  <div class="modal-header">
    <b class="modal-title"> Confituration du projet '{{project.name}}'</b>
    <span typeField="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <i class="fas fa-close"></i>  <span aria-hidden="true"></span>
  </span>
  </div>
  <div class="modal-body ">
    <div class="work-flow">
      <div class="lefts-item">
        <h1> Type des taches </h1>
        <div style="margin-bottom: 5px" *ngFor = "let itype of project.issueTypes">
          <app-text-field  [inputModel]="itype.name" label="Nom de type des tache "
                          [editing] = "false" exemple="Etude et conception"
                          class="field-item" [selected] = "isSelectedIssueType(itype)"
                          (onClickIt) = "select(itype)"
                          (onComplete) ="saveIssueType($event,itype)"
          >
          </app-text-field>
        </div>

        <app-text-field  [inputModel]="newIssueType.name" label=" Nouveau type de tache "
                         [editing] = "true" exemple="Etude et conception"
                         class="field-item" [selected] = " isSelectedIssueType(newIssueType)"
                         (onClickIt) = "select(newIssueType)"
                         (onComplete) ="saveIssueType($event,newIssueType)"
                         *ngIf ="isNewIssueType"
        >

        </app-text-field>
        <div (click)="createIssueType()" *ngIf ="!isNewIssueType"> Add </div>
      </div>
      <div class="item items-right">
        <h1> Flux des travaux </h1>
        <div *ngFor = "let workFlow of project.workFlows">
          <app-text-field  [inputModel]="this.issueType.curentWorkFlow.name" label="Titre de flux "
                           [editing] = "false" exemple="Flux de traveau "
                           class="field-item" [selected] = "isSelectedWorkFlow(workFlow)"
                           (onClickIt) = "select(workFlow)"
                           (onComplete) ="saveWorkFlow($event,workFlow)"
                           (onCancel) = "isNewWorkFlow =false"
                           *ngIf ="this.issueType.curentWorkFlow"
          >
          </app-text-field>
          </div>
          <app-text-field  [inputModel]="workFlow.name" label="Titre de flux "
                           [editing] = "true" exemple="Flux de traveau "
                           class="field-item" [selected] = "isSelectedWorkFlow(workFlow)"
                           (onClickIt) = "select(workFlow)"
                           (onComplete) ="saveWorkFlow($event,workFlow)"
                           (onCancel) = "isNewWorkFlow =false"
                           *ngIf ="isNewWorkFlow"
          >
          </app-text-field>
          <div (click)="createWorkFlow()" *ngIf ="!isNewWorkFlow"> Nouveau flux de travail </div>



      </div>
    </div>

  </div>
</div>


