<div class="">
  <div class="modal-header">
    <b class="modal-title"> Confituration du projet '{{project.name}}'</b>
    <span typeField="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <i class="fas fa-close"></i>  <span aria-hidden="true"></span>
  </span>
  </div>
  <div class="modal-body ">
    <div class="work-flow">
      <div >
        <h1> Type des taches </h1>
        <div class="issuetype-liste">
          <div style="margin-bottom: 5px" *ngFor = "let itype of project.issueTypes">
          <app-issuetype-form  [inputIssueType]="itype"  [label]="'Titre de flux '"
                               [editing] = "false" [exemple]="'Flux de traveau '"
                               class="field-item" [selected] = "isSelectedIssueType(itype)"
                               (onClickIt) = "selectIssueType(itype)"
                               (onComplete) ="saveIssueType($event)"
          >
          </app-issuetype-form>
        </div>

      </div>
        <app-issuetype-form  [inputIssueType]="null"  [label]="'Titre de flux '"
                             [editing] = "true" [exemple]="'Flux de traveau '"
                             class="field-item"
                             (onComplete) ="saveIssueType($event)"
                             *ngIf ="isNewIssueType"
        >
        </app-issuetype-form>
        <div (click)="createIssueType()" *ngIf="!isNewIssueType"> Create </div>
      </div>

  </div>
</div>


