.projet{
  display: grid;
  grid-template-columns: 350px auto;
  min-height: 100%;
}
.project-content{
  margin: 5px;
  padding-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  grid-column: 2 / 3;
}
