<div class="card-list" >
  <div class="card  menu-item" routerLink="issue-type" routerLinkActive="active">
    <div class="card-content" >
      <h3> <i class="fas fa-hourglass-half fa-1x"></i> Type de tache </h3>
      <p>Configurer les types </p>
    </div>
  </div>
  <div class="card  menu-item" routerLink="work-flow" routerLinkActive="active">
    <div class="card-content" >
      <h3> <i class="fas fa-hourglass-half fa-1x"></i> Flux de travail </h3>
      <p>Configurer Flux de travail</p>
    </div>
  </div>
  <div class="card menu-item" routerLinkActive="active" routerLink="custom-field" routerLinkActive="active">
    <div class="card-content">
      <h3> <i class="fas fa-hourglass-half fa-1x"></i> Custom field </h3>
      <p>Configurer des champ personnalisé</p>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
