<div class="card-list">
  <div class="card">
    <div class="card-content" (click)="configWorkFlow()">
      <h3> <i class="fas fa-hourglass-half fa-1x"></i> Work flow </h3>
      <p>Configurer les types et flux de traveaux</p>
    </div>
  </div>
  <div class="card" routerLinkActive="active" routerLink="custom-field">
    <div class="card-content">
      <h3> <i class="fas fa-hourglass-half fa-1x"></i> Custom field </h3>
      <p>Configurer des champ personnalisé</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
