<div class="card-list">
  <div class="card">
    <div class="card-content" (click)="configWorkFlow()">
      <h3> <i class="fas fa-hourglass-half fa-1x"></i> Confirg Type de tache et flux de travailx </h3>
      <p></p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3> <i class="fas fa-hourglass-half fa-1x"></i> Titre de la carte</h3>
      <p>Description de la carte</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <h3> <i class="fas fa-hourglass-half fa-1x"></i> Titre de la carte</h3>
      <p>Description de la carte</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <h3>Titre de la carte</h3>
      <p>Description de la carte</p>
    </div>
  </div>
</div>
