<mat-form-field>
  <mat-label>Work flow </mat-label>
  <mat-select [(value)]="currentWorkflow" *ngIf="project">
    <mat-option *ngFor="let wf of project?.workFlows" [value]="wf"> <app-icone-view ></app-icone-view>{{wf.name}}</mat-option>
  </mat-select>
</mat-form-field>



<div class="board" >
  <div class="column" *ngFor='let status of currentWorkflow?.statuses' (dragover)="onDragOver($event)" (drop)= "onDrop($event, status)" >

    <div class="entete"> <app-icone-view [icon]="status.icone"></app-icone-view>{{ status.displayName }} </div>
    <div class="issie-board" *ngFor="let issue of filterByStatus(status)" draggable="true" (dragstart)="onDragStart($event,issue)"  >
      <div class="myCard"  >
        <div class="content details" (click)="viewIssue(issue)">
         <app-icone-view [icon] = issue.issueType.icone></app-icone-view> <b>{{issue.issueKey+' '+issue.summary}}</b>
          <p>{{issue.description}}</p>
        </div>
        <img *ngIf="issue.assigne && issue.assigne.photo !== null" [src]="issue.assigne.photo" class="image" alt="l'assigné a" mat-icon-button [matMenuTriggerFor]="menu2" (click)="assign(issue)" />
        <img *ngIf="issue.assigne && issue.assigne.photo === null" src="/tasks-front/src/assets/user.png" alt="Image sans photo" class="image" mat-icon-button [matMenuTriggerFor]="menu2" (click)="assign(issue)" />
        <img *ngIf="!issue.assigne" src="/tasks-front/src/assets/nonAssigner.jpg" alt="non assigner" mat-icon-button class="image" [matMenuTriggerFor]="menu2" (click)="assign(issue)" />
      </div>
    </div>
    <div  class="issie-board new " (click)="newIssue( status)" *ngIf = "canCreate(status)">
      <div class="card">
        <div class="content details">
          <p><i class="fas fa-plus"></i> Creer un nouveau demande </p>
        </div>
      </div>
    </div>
  </div>

  <mat-menu #menu2="matMenu">
    <h4> Assigner a </h4>
    <button mat-menu-item *ngFor="let user of users" (click)="assigneToUser(user)" [ngClass]="{'active': isActive(user)}" >
      <img [src]="user.photo" alt="Image"  width="30px"  >
      <span>{{user.firstName}} {{user.lastName}}</span>
    </button>
  </mat-menu>
</div>
