<div class="">
  <div class="modal-header">
    <b class="modal-title"> Confituration des champ personnalisé pour le projet '{{project.name}}'</b>
    <span typeField="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
  </span>
  </div>
  <div class="modal-body ">
    <div class="custom-field">
      <div>
        <h1> Type des taches </h1>
        <div class="issuetype-liste" >
            <div style="margin-bottom: 5px" *ngFor = "let itype of project.issueTypes">
              <app-issuetype-form  [inputIssueType]="itype"  [label]="'Titre de flux '"
                                   [editing] = "false" [exemple]="'Flux de traveau '"
                                   class="field-item" [selected] = "isSelectedIssueType(itype)"
                                   (onClickIt) = "selectIssueType(itype)"
                                   (onComplete) ="saveIssueType($event)"
              >
              </app-issuetype-form>
            </div>
        </div>
      </div>
      <div class="item items-right" *ngIf="issueType != null  ">
        <div>
          <div class="example-container">
            <h1> Champ personnalisé disponible </h1>

            <div
              cdkDropList
              #dispoList="cdkDropList"
              [cdkDropListData]="customFields"
              [cdkDropListConnectedTo]="[userList]"
              class="example-list"
              (cdkDropListDropped)="unUse($event)">
              @for (item of customFields; track item) {
                <div class="example-box" cdkDrag>{{item.name}}</div>
              }
            </div>
          </div>

          <div class="example-container" >
            <h1> Champ personnalisé selectionnées </h1>

            <div
              cdkDropList
              #userList="cdkDropList"
              [cdkDropListData]="customFieldsSelected"
              [cdkDropListConnectedTo]="[dispoList]"
              class="example-list"
              (cdkDropListDropped)="use($event)">
              @for (item of customFieldsSelected; track item) {
                <div class="example-box" cdkDrag>{{item.customField.name}}</div>
              }
            </div>
          </div>




          <div (click)="newCustomField()" class="controle border-3">  <i class="fas fa-plus-square"></i>  Creer nouveau </div>
        </div>
        <div>
          <div>
            <h1> Champ personnalisé selectionnées </h1>
          </div>
          <div> Ajouter une etats </div>
        </div>
      </div>
    </div>
  </div>
</div>


