<main class="main">
  <div class="grid-container">
    <div class="top-menu">
      <div class="logo">Logo</div>
      <ul class="navigation">
        <li><a href="#">Home</a></li>
        <li><a routerLink ="/project" routerLinkActive="active" ariaCurrentWhenActive="page">Project</a></li>
        <li><a href="#">Projet 1</a></li>
        <li><a href="#">Projet 2</a></li>
        <li><a href="#">Admin</a></li>
      </ul>
      <div class="user-section">
        <div class="user-dropdown">
          <img src="/assets/user.png" alt="User Avatar">
          <span class="username">Andry Tokiniaina</span>
          <div class="user-dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="content" >
      <router-outlet></router-outlet>
    </div>

    <div class="footer">
      <!-- Footer links -->
      <div class="footer-links">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
      </div>
      <!-- Social icons -->
      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a>
      </div>
    </div>
  </div>
</main>



