<main class="main">
  <div class="grid-container">
    <div class="top-menu">
      <div class="logo">Your Logo</div>
      <ul class="navigation">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dasbord</a></li>
        <li><a href="#">Recherche</a></li>
        <li><a href="#">Projet</a></li>
        <li><a href="#">Admin</a></li>
      </ul>
      <div class="user-section">
        <div class="user-dropdown">
          <img src="/assets/user.png" alt="User Avatar">
          <span class="username">Andry Tokiniaina</span>
          <div class="user-dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="left-menu">
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#"></a>Projet</li>
        <li><a href="#">Admin</a></li>
        <li><a href="#">Recherche</a></li>
        <li><a href="#">Dasbord</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>Main Content Area</h1>
      <p>This is where your main content goes.</p>
    </div>
    <div class="footer">
      <!-- Footer links -->
      <div class="footer-links">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
      </div>
      <!-- Social icons -->
      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a>
      </div>
    </div>
  </div>
</main>


<router-outlet/>
