<h2>Liste des utilisateur</h2>
<ul class="modern-list">
  <li>
    <div class="item"> <h3>Nom prenom</h3></div>
    <div class="item"> <h3>Nom d'utilisateur</h3>  </div>
    <div class="item"> <h3>CIN</h3></div>
    <div class="status-item "> <h3>Adresse</h3> </div>
    <div class="item"> <h3>Numero telephone</h3> </div>
  </li>
  <li>
    <div class="item" (click)="editProfile()">
      <img src="assets/user.png" alt="Photo">
      <div class="details">
        <h3>Andry Tokiniaina </h3>
        <p>Chef de projet </p>
      </div>
    </div>
    <div class="item">PROJ-00001</div>
    <div class="item">Le titre de tache </div>
    <div class="status-item pending">Statut En Attente</div>
    <div class="item">20 Juin 2024</div>
  </li>
  <li>
    <div class="item">
      <img src="assets/user.png" alt="Photo">
      <div class="details">
        <h3>Andry Tokiniaina </h3>
        <p>Chef de projet </p>
      </div>
    </div>
    <div class="item">PROJ-00001</div>
    <div class="item">Le titre de tache </div>
    <div class="status-item pending">Statut En Attente</div>
    <div class="item">20 Juin 2024</div>
  </li>
  <li>
    <div class="item">
      <img src="assets/user.png" alt="Photo">
      <div class="details">
        <h3>Andry Tokiniaina </h3>
        <p>Chef de projet </p>
      </div>
    </div>
    <div class="item">PROJ-00001</div>
    <div class="item">Le titre de tache </div>
    <div class="status-item pending">Statut En Attente</div>
    <div class="item">20 Juin 2024</div>
  </li>
  <li>
    <div class="item">
      <img src="assets/user.png" alt="Photo">
      <div class="details">
        <h3>Andry Tokiniaina </h3>
        <p>Chef de projet </p>
      </div>
    </div>
    <div class="item">PROJ-00001</div>
    <div class="item">Le titre de tache </div>
    <div class="status-item pending">Statut En Attente</div>
    <div class="item">20 Juin 2024</div>
  </li>
  <li>
    <div class="item">
      <img src="assets/user.png" alt="Photo">
      <div class="details">
        <h3>Andry Tokiniaina </h3>
        <p>Chef de projet </p>
      </div>
    </div>
    <div class="item">PROJ-00001</div>
    <div class="item">Le titre de tache </div>
    <div class="status-item pending">Statut En Attente</div>
    <div class="item">20 Juin 2024</div>
  </li>
</ul>

